@import "reset.css";
* {
  transition: all ease-in 0.3s;
}
img {
  width: 400px;
  height: 250px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imgbox {
  margin-top: 100px;
  position: relative;
  width: 150px;
}
.hover-box {
  background-color: #283b48;
}
.title {
  font-weight: 600;
  color: #f0f3f3;
}
p {
  color: #dd4f7a;
}
span {
  display: block;
  background-color: #e43f65;
  color: white;
  text-align: center;
  height: 20px;
  padding-top: 7px;
  width: 100px;
}
.box1 .hover-box {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.box1 .hover-box .title {
  padding-bottom: 5px;
}
.box1 .hover-box p {
  padding-bottom: 20px;
}
.imgbox.box1:hover .hover-box {
  opacity: 1;
  transform: translate(10px, 10px);
}
.box2 {
  width: 400px;
  height: 250px;
  overflow: hidden;
  margin-bottom: 50px;
}
.box2:hover img {
  height: 170px;
}
.box2 .hover-box {
  bottom: 0px;
  width: 400px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  margin-top: -5px;
}
.box2 .hover-column {
  padding-left: 12px;
  padding-bottom: 10px;
}
.box2 span {
  margin-top: 10px;
  margin-right: 10px;
}
